@{
    Layout = "_Layout";
}

@using Registrar.Models;
@model List<Registrar.Models.Course>;

<h2>Course Page</h2>

@if (@Model.Count == 0)
{
  <h3>No courses have been added to database</h3>
}

@foreach (Course course in Model)
{
  <li>@Html.ActionLink($"{course.Name}", "Details", new { id = course.CourseId })</li>
}

<p>@Html.ActionLink("Add new Course", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>